* {
  cursor: url(/curs/normal.cur), auto;
}

a,
button,
[role="button"],
[clickable],
.vp-link,
.VPButton,
.copy-text,
.ip-text,
.server-ip,
.tab,
.action-btn,
.copy-button,
.back-to-top {
  cursor: url(/curs/link.cur), pointer;
}

input,
textarea,
pre,
code,
.vp-doc p,
.vp-doc li {
  cursor: url(/curs/text.cur), text;
}
