.page-friends {
  .VPDoc {
    padding-top: 24px !important;
  }

  .VPDocAside {
    display: none !important;
  }

  .VPDoc.has-aside .content-container {
    max-width: 100% !important;
  }

  .VPDoc .content-container > .vp-doc > h1:first-child {
    display: none !important;
  }
}
